#carregando{
	width:100%;
	height: 100%;
	position: absolute;
	background: #fff;
	z-index:5;
}
#carregando img{
	position: absolute;
	left: 0; right: 0; top:0; bottom: 0;
	margin: auto;
}

/* GERAL */
body{
	overflow-x:hidden;
	font-family: 'Raleway', sans-serif;
	color:#1a1a1a;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
}
p{
	font-size: 1.3em;
	color:#999;
}

img{
	max-width:100%;
}

/* BOOTSTRAP CUSTOM */
.jumbotron{
	background: none;
}

.jumbotron p{
	color:#fff;
}

.row{
	padding-top: 80px;
	padding-bottom: 80px;
}

main.container-fluid{
	margin-top:-20px;
}

.btn-default{
	color: #1a1a1a;
	background:#fedc00;
}

.btn-default:hover{
	background: #1a1a1a;
	color:#fedc00;
}




/* CUSTOM */
.menu{
	padding: 20px 0;
}

#menu{
	top:0;
	width:80%;
	height:100%;
	position: fixed;
	background: #ccc;
	z-index:1;
}

#btn-menu{
	padding: 15px;
	position: fixed;
	border: 1px solid #fedc00;
	color:#fedc00;
	left:5%;
	bottom:5%;
	background: #1a1a1a;
	z-index:10;
}

.bg-escuro{
	background:#1a1a1a;
	color:#fedc00;
}

.bg-amarelo{
	background:#fedc00;
	color:#1a1a1a;
}
.bg-amarelo p{
	color: #1a1a1a;
}

.bg-image{
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	background-size: cover;
}
.bg-image div:first-child{
	z-index: 2;
	position: relative;
}

.bg-image:before{
	content: "";
	width: 100%;
	height: 490px;
	position: absolute;
	background: #000 none repeat scroll 0% 0%;
	top: 0;
	opacity: .9;
	z-index: 1;
}

.thumbnail{
	overflow: hidden;
}


.logo{
	height:100px;
}

.projeto img{
	cursor: pointer;
	transition: .3s ease;
	-moz-transition: .3s ease;
}

.projeto:hover img{
	transform: scale(1.1);
}

.galeria section{
	margin-top: 20px;
	margin-bottom: 10px;
}

#sobre a{
	color:#1a1a1a;
	text-decoration: underline;
}


.habilidades figure img,
.ferramentas figure img{
	border: 3px solid #fedc00;
	border-radius: 100%;
	margin-bottom:20px;
}

.ferramentas figure img{
	max-width:60%;
}

.habilidades figcaption{
	font-size:1.5em;
	color:#fff;
	text-transform: uppercase;
}

.ferramentas figcaption{
	font-size:1.5em;
	color:#1a1a1a;
	text-transform: uppercase;
}

.habilidades h1, .ferramentas h1{
	padding-bottom: 1em;
	text-transform: uppercase;
}

#rodape h1,
#rodape a{
	color:#646464;
}



@media screen and (min-width:770px){
	#menu{
		position: relative;
		top:25px;
		background: transparent;
		float:right;
	}
	
	#nav-logo h1{
		position: relative;
		top:32px;
	}

	#nav-logo{
		position: relative;
		top:-20px;
	}
}


